*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    text-decoration: none;
}

                                    /*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 30px 50px;
    align-items: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.li-hebergement{
    color: #0065FC;
    font-weight: 550;
    border-top: 4px solid #0065FC;
    padding-top: 65px;
    padding: 65px 30px 0 30px;
    position: relative;
}

.li-hebergement::before{
    content: "";
    background-color: #DEEBFF;
    width: 175px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s linear;
}

.li-hebergement:hover::before{
    height: 110px;
}

.li-activite{
    color: grey;
    font-weight: 550;
    padding: 65px 30px 0 30px;
    position: relative;
}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
    }

    header::after{
        content: "";
        bottom: -4px;
        right: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #F2F2F2;
    }

    header::before{
        content: "";
        bottom: -4px;
        left: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #0065FC;
    }

    .logo{
        width: 100px;
        margin: 20px 0;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    
    .li-hebergement,
    .li-activite{
        border-top: none;
        padding: 0;
    }

    .li-hebergement::before{
        display: none;
    }

    nav ul{
        height: 35px;
    }

    .ligne-hebergement,
    .ligne-activite{
        width: 100%;
        text-align: center;
    }
}


                        /*RECHERCHE*/
.recherche{
    margin: 0px 0px 10px 30px;
}

.recherche h1{
    font-size: 20px;
}

.recherche p{
    margin: 5px 0 15px 0;
    font-size: 15px;
}

.barre-recherche{
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 380px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.barre-recherche::before{
    content: "";
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    background-color: #F2F2F2;
}

.fa-map-marker-alt{
    position: absolute;
    top: 15px;
    left: 20px;
}

.barre-recherche input{
    border: none;
    position: absolute;
    top: 50%; 
    left: 36%;
    transform: translate(-50%, -50%); 
}

.barre-recherche input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.barre-recherche button{
    position: absolute;
    right: 0;
    width: 110px;
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.barre-recherche button:hover{
    box-shadow: 10px 1px 20px 1px #aab5c5;
}

.barre-recherche button span{
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.fa-search{
    display: none;
}

@media screen and (max-width: 768px){
    .recherche{
        margin: 35px 30px 10px 30px;
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .recherche h1, .recherche p{
        display: inline;
        text-align: center;
    }

    .barre-recherche button{
        border-radius: 20px;
        width: 50px;
    }

    .barre-recherche{
        width: 300px;
    }

    .barre-recherche input{
        left: 45%;
    }

    .barre-recherche button span{
        display: none;
    }

    .fa-search{
        color: white;
        display: inline;
    }
}

@media screen and (max-width: 300px){
    .barre-recherche form{
        width: 200px;
    }

    .barre-recherche::before{
        display: none;
    }

    .container-hebergement{
        margin-top: 20px;
    }
}


                            /*FILTRES*/
.filtre{
    margin: 30px 0px 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.filtre h2{
    display: inline;
    font-size: 18px;
    text-align: center;
}

.filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
    padding: 0;
    margin-left: 20px;
}

.filtre-economique{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-economique::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-money-bill-wave{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 12%;
    transform: translate(-50%, -50%); 
}

.filtre-economique h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.filtre-familial{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-familial::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-child{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 15%;
    transform: translate(-50%, -50%); 
}

.filtre-familial h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 62%;
    transform: translate(-50%, -50%); 
}

.filtre-romantique{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-romantique::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-heart{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 12%;
    transform: translate(-50%, -50%); 
}

.filtre-romantique h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.filtre-animaux{
    height: 40px;
    width: 190px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-animaux::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-dog{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 10%;
    transform: translate(-50%, -50%); 
}

.filtre-animaux h2{
    width: 130px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.hover:hover{
    box-shadow: 2px 2px 5px 2px #aab5c5;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .filtre{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .filtre h2{
        margin-bottom: 20px;
    }

    .filtres{
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
        justify-content: start;
    }

    .filtre-economique,
    .filtre-familial,
    .filtre-romantique{
        margin: 0 10px 10px 0;
    }
}


                    /*INFOS DISPONIBILITES*/
.infos-dispo{
    margin: 20px 0px 30px 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.fa-info{
    color: #0065FC;
    padding: 5px 10px;
    border: 1px solid #aab5c5;
    border-radius: 50%;
}

.infos-dispo p{
    margin-left: 10px;
}

@media screen and (max-width: 768px){
    .infos-dispo{
        align-items: flex-start;
    }
}


                    /*SECTION HEBERGEMENT*/
#hebergements{
    margin: 0 30px 0 0px;
    padding-left: 30px;
    width: 1150px;
    height: auto;
}

.container-hebergement{
    width: 1110px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergement-standard{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 720px;
    height: 480px;
}

.titre-hebergement{
    margin: 30px 30px 0 30px;
    font-size: 12px;
    font-weight: 600;
}

.carte-standard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 30px 0 30px;
    padding-top: 20px;
    justify-content: space-between;
}

.afficher-plus{
    margin: 0 30px 20px 30px;
}

.afficher-plus h3{
    display: inline;
    cursor: pointer;
}

.hebergement-populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 360px;
}

.titre-populaire{
    margin: 30px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.fa-chart-line{
    font-size: 18px;
}

.carte-populaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 380px;
}

.carte-populaire a{
    width: 300px;
    height: 110px;
    display: flex;
}

@media screen and (max-width: 1200px) {
    #hebergements{
        width: 735px;
    }
    
    .container-hebergement{
        width: 920px;
    }

    .hebergement-standard{
        width: 520px;
        height: 660px;
    }

    .carte-populaire{
        height: 390px;
    }

    .hebergement-populaire{
        height: 490px;
    }
}

@media screen and (max-width: 992px){
    .container-hebergement{
        flex-direction: column-reverse;
        height: 850px;
        width: 710px;
    }

    .hebergement-standard{
        width: 700px;
        height: 470px;
    }

    .carte-standard{
        width: 650px;
        margin: auto;
    }

    .hebergement-populaire{
        width: 700px;
        height: 350px;
    }

    .carte-populaire{
        flex-direction: row;
        flex-wrap: wrap;
        height: 270px;
        width: 650px;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 768px){
    #hebergements{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }

    .container-hebergement{
        width: 100%;
        height: auto;
    }

    .hebergement-populaire{
        width: 100%;
        border-radius: 0px;
        height: 500px;
    }

    .carte-populaire{
        flex-direction: column;
        width: 300px;
        margin: 0 auto;
        height: 440px;
        justify-content: space-evenly;
    }

    .hebergement-standard{
        background-color: white;
        border-radius: 0px;
        width: 100%;
        height: auto;
    }

    .carte-standard{
        height: auto;
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .titre-populaire{
        margin: 30px 20px 0 20px;
        font-size: 16px;
    }

    .titre-hebergement{
        margin: 30px 20px 0 20px;
        font-size: 16px;
    }

    .afficher-plus{
        margin: 0px 20px 0 20px;
        font-size: 14px;
    }
}



                    /*CARTE CANNEBIERE*/

.cannebiere{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.cannebiere-img{
    margin: 3px;
    height: 85px;
}

.cannebiere-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.cannebiere-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.cannebiere-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.cannebiere-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}


.etoile-cannebiere{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.fa-star.blue{ /*Pour toutes les etoiles bleues*/
    color: #0065FC;
    font-size: 10px;
    letter-spacing: -3px;
}

.prix-bold{  /*Pour tous les prix en gras*/
    font-weight: bold;
}


.fa-star.grey{ /*Pour toutes les etoiles grises*/
    color: #aab5c5;
    font-size: 10px;
}

@media screen and (max-width: 768px){
    .cannebiere{
        width: 300px;
    }
}


                    /*CARTE VIEUX PORT*/

.port{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.port-img{
    margin: 3px;
    height: 85px;
}

.port-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.port-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.port-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.port-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}


.etoile-port{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

@media screen and (max-width: 768px){
    .port{
        width: 300px;
    }
}


                    /*CARTE MOUETTES*/
.mouettes{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.mouettes-img{
    margin: 3px;
    height: 85px;
}

.mouettes-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.mouettes-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.mouettes-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.mouettes-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-mouettes{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

@media screen and (max-width: 768px){
    .mouettes{
        width: 300px;
    }
}


                    /*CARTE MER*/
.mer{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.mer-img{
    margin: 3px;
    height: 85px;
}

.mer-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.mer-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.mer-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.mer-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-mer{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

@media screen and (max-width: 768px){
    .mer{
        width: 300px;
    }
}


                    /*CARTE PANIER*/
.panier{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.panier-img{
    margin: 3px;
    height: 85px;
}

.panier-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.panier-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.panier-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.panier-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-panier{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

@media screen and (max-width: 768px){
    .panier{
        width: 300px;
    }
}


                        /*CARTE AMINA*/
.amina{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px #b9c5d6;
}

.amina-img{
    margin: 3px;
    height: 85px;
}

.amina-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.amina-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.amina-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.amina-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-amina{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

@media screen and (max-width: 768px){
    .amina{
        width: 300px;
    }
}


                    /*CARTE SOLEIL*/
.soleil{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 300px;
}

.soleil-img{
    margin: auto 3px;
    width: 120px;
    height: 104px;
}

.soleil-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.soleil-texte{
    width: 120px;
    height: 100px;
    margin: 10px 0 0 10px ;
    position: relative;
}

.soleil-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.soleil-texte p{
    color: black;
    font-size: 12px;
    margin: 5px 0;
}

.etoile-soleil{
    display: inline;
    position: absolute;
    left: 0;
    bottom: 10px;
}

@media screen and (max-width: 1200px){
    .soleil-texte{
        margin: 15px 0 0 15px ;
    }
}

@media screen and (max-width: 992px){
    .soleil{
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px){
    .soleil{
        margin-right: 0;
    }
}


                        /*CARTE COEUR*/
.coeur{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 300px;
}

.coeur-img{
    margin: auto 3px;
    width: 120px;
    height: 104px;
}

.coeur-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.coeur-texte{
    width: 120px;
    height: 100px;
    margin: 10px 0 0 10px ;
    position: relative;
}

.coeur-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.coeur-texte p{
    color: black;
    font-size: 12px;
    margin: 5px 0;
}

.etoile-coeur{
    display: inline;
    position: absolute;
    left: 0;
    bottom: 10px;
}

@media screen and (max-width: 1200px){
    .coeur-texte{
        margin: 15px 0 0 15px ;
    }
}

@media screen and (max-width: 992px){
    .coeur{
        margin-left: 15px;
    }
}

@media screen and (max-width: 768px){
    .coeur{
        margin-left: 0;
    }
}



                        /*CARTE BLEUBLANC*/
.bleublanc{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 300px;
}

.bleublanc-img{
    margin: auto 3px;
    width: 120px;
    height: 104px;
}

.bleublanc-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.bleublanc-texte{
    width: 120px;
    height: 100px;
    margin: 10px 0 0 10px ;
    position: relative;
}

.bleublanc-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bleublanc-texte p{
    color: black;
    font-size: 12px;
    margin: 5px 0;
}

.etoile-bleublanc{
    display: inline;
    position: absolute;
    left: 0;
    bottom: 10px;
}

@media screen and (max-width: 1200px){
    .bleublanc-texte{
        margin: 15px 0 0 15px ;
    }
}


                    /*SECTION 2 ACTIVITES*/
#activites{
    margin: 0 30px 0 0px;
    padding-left: 30px;
    width: 1150px;
    height: 400px;
}

.container-activite{
    width: 1110px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titre-activite{
    margin: 30px 30px 20px 0;
    font-size: 12px;
    font-weight: 600;
}

.carte-activite{
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}

.premieres-3-cartes{
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
}

.dernieres-3-cartes{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
}

@media screen and (max-width: 1200px){
    #activites{
        width: 735px;
    }

    .container-activite{
        width: 870px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .carte-activite{
        flex-direction: column;
    }

    .premieres-3-cartes{
        height: 48%;
        width: 100%;
        flex-direction: row;
        justify-content:space-around;
        align-content: center;
    }
    
    .dernieres-3-cartes{
        width: 100%;
        height: 48%;
        flex-direction: row;
        justify-content:space-around;
        align-content: center;
    }
}

@media screen and (max-width: 992px){
    #activites{
        height: 700px;
    }

    .container-activite{
        width: 700px;
        height: 800px;
    }

    .carte-activite{
        height: 615px;
    }
}

@media screen and (max-width: 768px){
    #activites{
        margin: 0;
        padding: 0;
        height: 1150px;
        width: 100%;
    }

    .container-activite{
        width: 100%;
        align-items: center;
        height: 1150px;
    }

    .titre-activite{
        align-self: flex-start;
        padding-left: 20px;
    }

    .carte-activite{
        flex-direction: column;
        width: 300px;
        height: 1025px;
        justify-content: space-between;
    }

    .premieres-3-cartes{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        height: 500px;
    }

    .dernieres-3-cartes{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        height: 500px;
    }
}


/********************3 PREMIERES CARTES*************************/
                        /* VIEUXPORT */
.vieuxport{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 45%;
    height: 320px;
}
    
.vieuxport-img{
    width: 100%;
    height: 88%;
}
    
.vieuxport-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.vieuxport-texte{
    width: 100%;
    height: 12%;
}

.vieuxport-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .vieuxport{
        width: 250px;
        height: 140px;
    }
        
    .vieuxport-img{
        height: 75%;
    }
         
    .vieuxport-texte{
        height: 25%;
    }
    
    .vieuxport-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 992px){
    .vieuxport{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .vieuxport{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}

                        /* POMEGUES */
.pomegues{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 255px;
    height: 160px;
}
    
.pomegues-img{
    width: 100%;
    height: 75%;
}
    
.pomegues-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.pomegues-texte{
    width: 100%;
    height: 25%;
}

.pomegues-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .pomegues{
        width: 250px;
        height: 140px;
    }
        
    .pomegues-img{
        height: 75%;
    }
         
    .pomegues-texte{
        height: 25%;
    }
    
    .pomegues-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 768px){
    .pomegues{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}


                        /* FRIOUL */
.frioul{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 255px;
    height: 130px;
}
    
.frioul-img{
    width: 100%;
    height: 65%;
}
    
.frioul-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.frioul-texte{
    width: 100%;
    height: 35%;
}

.frioul-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .frioul{
        width: 250px;
        height: 140px;
    }
        
    .frioul-img{
        height: 75%;
    }
         
    .frioul-texte{
        height: 25%;
    }
    
    .frioul-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 768px){
    .frioul{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}


/********************3 DERNIERES CARTES*************************/
                        /* CALANQUES */
.calanques{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 45%;
    height: 320px;
}
    
.calanques-img{
    width: 100%;
    height: 88%;
}
    
.calanques-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.calanques-texte{
    width: 100%;
    height: 12%;
}

.calanques-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .calanques{
        width: 250px;
        height: 140px;
    }
        
    .calanques-img{
        height: 75%;
    }
         
    .calanques-texte{
        height: 25%;
    }
    
    .calanques-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 992px){
    .calanques{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .calanques{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}


                        /* NOTREDAME */
.notredame{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 255px;
    height: 130px;
}
    
.notredame-img{
    width: 100%;
    height: 75%;
}
    
.notredame-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.notredame-texte{
    width: 100%;
    height: 25%;
}

.notredame-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .notredame{
        width: 250px;
        height: 140px;
    }
        
    .notredame-img{
        height: 75%;
    }
         
    .notredame-texte{
        height: 25%;
    }
    
    .notredame-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 768px){
    .notredame{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}


                        /* LONGCHAMP */
.longchamp{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 255px;
    height: 160px;
}
    
.longchamp-img{
    width: 100%;
    height: 65%;
}
    
.longchamp-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
    
.longchamp-texte{
    width: 100%;
    height: 35%;
}

.longchamp-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

@media screen and (max-width: 1200px){
    .longchamp{
        width: 250px;
        height: 140px;
    }
        
    .longchamp-img{
        height: 75%;
    }
         
    .longchamp-texte{
        height: 25%;
    }
    
    .longchamp-texte h3{
        padding: 12px 0 0 15px;
    }
}

@media screen and (max-width: 768px){
    .longchamp{
        margin-bottom: 0px;
        width: 100%;
        height: 150px;
    }
}


/****************** FOOTER ***************************/
footer{
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 30px;
}

.container-footer{
    width: 820px;
    display: flex;
    margin-left: 30px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
}

.titre-footer{
    margin-bottom: 20px;
    font-size: 12px;
}

.paras-footer p{
    margin-bottom: 10px;
    font-size: 12px;
}

@media screen and (max-width: 992px){
    .container-footer{
        width: 600px;
    }
}

@media screen and (max-width: 768px){
    footer{
        margin-top: 0;
    }
}

@media screen and (max-width: 660px){
    .container-footer{
        width: 500px;
    }
}

@media screen and (max-width: 560px){
    .container-footer{
        width: 250px;
        height: 400px;
        flex-direction: column;
        justify-content: space-between;
    } 
}